node_modules
__pycache__
*.pyc
*.pyo
.venv
.idea
.vscode
.git
.ruff_cache
data
old_data
.env
.env.*
.env.*.local
.DS_Store
*.md
.gitignore
.dockerignore
.gitmodules
.pre-commit-config.yaml
.github
.python-version
